@import url("https://use.typekit.net/dmf3xst.css");

/* Variables */
:root {
  --primary-color: #37506a;
  --secondary-color: #dc823d;
}

/* Global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: futura-pt, sans-serif;
}

.container {
  display: flex;
}

/* Dasboard CSS */
.dashboard-container {
  height: 100vh;
  width: 30vw;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-right: rgb(212, 211, 211) solid 1px;
}

.dashboard-container1 {
  height: 95vh;
  width: 30vw;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-right: rgb(212, 211, 211) solid 1px;
}

.highscore-container {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 2em;
}

.scoreboard {
  width: 100%;
  display: flex;
  background: beige;
  justify-content: space-around;
  padding: 2rem 0;
  border-top: rgb(212, 211, 211) solid 1px;
}

.scoreboard .scoreboard-item h1 {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(148, 148, 148);
}

.scoreboard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard-item p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  background: beige;
  justify-content: flex-start;
}

.card {
  min-height: 35vh;
  background: var(--secondary-color);
  width: 80%;
  border-radius: 2rem;
}

.header {
  width: 100%;
  min-height: 5vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.line1,
.line2,
.line3 {
  width: 35px;
  min-height: 5px;
  background-color: white;
  border-radius: 10px;
  margin: 6px 0;
  transition: 0.4s;
}

.change.line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change.line2 {
  opacity: 0;
}

.change.line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.picture {
  height: 10rem;
  width: 10rem;
  background: rgb(187, 187, 190);
  border-radius: 5rem;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

.picture-container {
  background: white;
  width: 100%;
  height: 30vh;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Dashboard End*/

/* Gameboard CSS */
.gameboard-container {
  height: 100vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboard {
  height: 95vh;
  width: 90%;
  margin-top: 4rem;
  position: relative;
}

/* Tiles CSS */
.tiles-container {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.tiles-container:nth-child(2n + 2) {
  color: var(--primary-color);
  background-color: #fff;
  border: 3px solid var(--primary-color);
}

.tiles-container:nth-child(3n + 3) {
  background-color: var(--primary-color);
  color: #fff;
}

.column-flex {
  display: flex;
  width: 100%;
  height: 60vh;
}

.row-div-tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column-div-tiles1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.column-div-tiles2 {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}

/* Highscore CSS */
.highscore-container {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 2em;
}

.highscore-header {
  padding: 10px;
}

.highscore-list {
  list-style-position: inside;
  padding: 10px;
}

.highscore-list li {
  padding: 10px 20px 10px 10px;
}

.highscore-list li span {
  float: right;
  color: #aec9e6;
}

/* Options container */

.options-container ul li {
  padding: 10px 20px 10px 10px;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

.options-container .social-media-icons {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-container ul li p {
  font-size: 2em;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.options-container ul li p:hover {
  color: rgb(177, 177, 177);
}

.options-container .social-media-icons img {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.options-container .social-media-icon {
  margin: 0 auto;
}

.hamburger {
  left: 5px;
  margin-left: 5px;
  z-index: 10;
}

.hamburger:hover {
  cursor: pointer;
}

.main-menu {
  height: 100vh;
  position: absolute;
  z-index: 5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: white;
  width: 100%;
  transform: translateX(-100%);
  transition: all 0.7s ease;
  opacity: 0;
  display: flex;
}

.open-menu.main-menu {
  transition: all 0.7s ease;
  transform: translateX(0%);
  opacity: 1;
}

/* Dice CSS */
.dice {
  position: absolute;
  left: 50%;
  top: 33vh;
  transform: translateX(-50%);
  height: 8rem;
  border: solid 3px var(--primary-color);
  border-radius: 1rem;
  /* filter: drop-shadow(0.3em 0.75em 0.9em); */
}

/* För hamburgarmenyn */
@media screen and (max-width: 1600px) {
  .hamburger {
    cursor: pointer;
  }

  .line1,
  .line2,
  .line3 {
    width: 25px;
    min-height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change.line1 {
    -webkit-transform: rotate(-50deg) translate(-8.5px, 4px);
    transform: rotate(-50deg) translate(-8.5px, 4px);
  }

  .change.line2 {
    opacity: 0;
  }

  .change.line3 {
    -webkit-transform: rotate(50deg) translate(-8.5px, -4px);
    transform: rotate(50deg) translate(-8.5px, -4px);
  }

  .tiles-container {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
  }
}

/* Card holder CSS */
.card-holder {
  border-radius: 10px;
  height: 15rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-card {
  position: absolute;
  right: 55%;
  top: 27vh;
  transform: translateX(-55%);
  background-color: var(--primary-color);
}

.daily-standup-card {
  background-color: var(--secondary-color);
  position: absolute;
  top: 27vh;
  left: 55%;
  transform: translateX(55%);
}

/* Card holder CSS ends */

/* Rules CSS */

.rules-container {
  padding: 0 6% 0 6%;
  font-size: large;
  background-color: var(--primary-color);
  height: 100%;
  color: white;
  overflow: auto;
}

.rules-container > * {
  margin: 5% 0;
}

.rules-list {
  margin-left: 10px;
}

/* Rules CSS  ends*/
