@import url('https://use.typekit.net/dmf3xst.css');

/* Global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: futura-pt, sans-serif;
}

.container {
  display: flex;
}

/* Dasboard CSS */
.dashboard-container {
  height: 200vh; /* Ska ändras till 100vh sen. */
  width: 30vw;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: rgb(212, 211, 211) solid 1px;
}

.scoreboard {
  width: 100%;
  display: flex;
  background: beige;
  justify-content: space-around;
  padding: 2rem 0;
  border-top: rgb(212, 211, 211) solid 1px;
}

.scoreboard .scoreboard-item h1 {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(148, 148, 148);
}

.scoreboard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard-item p {
  font-size: 2rem;
  font-weight: 600;
  color: #37506a;
}

.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  background: beige;
  justify-content: flex-start;
}

.card {
  min-height: 35vh;
  background: rgb(255, 110, 58);
  width: 80%;
  border-radius: 2rem;
}

.header {
  width: 100%;
  min-height: 5vh;
  background-color: #37506a;
  position: relative;
}

.hamburger {
  left: 5px;
  top: 5px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 35px;
  min-height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change.line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change.line2 {
  opacity: 0;
}

.change.line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.picture {
  height: 10rem;
  width: 10rem;
  background: rgb(187, 187, 190);
  border-radius: 5rem;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

.picture-container {
  background: white;
  width: 100%;
  height: 30vh;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Dashboard End*/

/* Gameboard CSS */
.gameboard-container {
  height: 100vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboard {
  height: 95vh;
  width: 90%;
  margin-top: 4rem;
  position: relative;
}

/* Tiles CSS */
.tiles-container {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background-color: #dc823d;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.tiles-container:nth-child(2n + 2) {
  color: #37506a;
  background-color: #fff;
  border: 3px solid #37506a;
}

.tiles-container:nth-child(3n + 3) {
  background-color: #37506a;
  color: #fff;
}

.column-flex {
  display: flex;
  width: 100%;
  height: 60vh;
}

.row-div-tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column-div-tiles1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.column-div-tiles2 {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}

/* Highscore CSS */
.highscore-container {
  height: 100vh;
  width: 100%;
  background-color: #37506a;
  color: #fff;
  font-size: 2em;
}

.highscore-header {
  padding: 10px;
}

.highscore-list {
  list-style-position: inside;
  padding: 10px;
}

.highscore-list li {
  padding: 10px 20px 10px 10px;
}

.highscore-list li span {
  float: right;
  color: #aec9e6;
}

/* Options container */
.options-container {
  height: 100vw;
  width: 100%;
  background-color: white;
}

.options-container ul li {
  padding: 10px 20px 10px 10px;
  width: 100%;
  background-color: burlywood;
  text-align: center;
}

.options-container .social-media-frame {
  width: 100%;
  height: 200px;
  background-color: red;
}

.options-container ul li a {
  font-size: 2em;
  text-decoration: none;
  color: #37506a;
}

/* Dice CSS */
.dice {
  position: absolute;
  left: 50%;
  top: 30vh;
  transform: translateX(-50%);
  height: 10rem;
  border: solid 1px rgb(190, 190, 190);
  border-radius: 1rem;
  filter: drop-shadow(0.3em 0.75em 0.9em);
}

/* För hamburgarmenyn */
@media screen and (max-width: 1440px) {
  .hamburger {
    left: 5px;
    top: 0px;
    position: absolute;
    display: inline-block;
    cursor: pointer;
  }

  .line1,
  .line2,
  .line3 {
    width: 25px;
    min-height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change.line1 {
    -webkit-transform: rotate(-50deg) translate(-8.5px, 4px);
    transform: rotate(-50deg) translate(-8.5px, 4px);
  }

  .change.line2 {
    opacity: 0;
  }

  .change.line3 {
    -webkit-transform: rotate(50deg) translate(-8.5px, -4px);
    transform: rotate(50deg) translate(-8.5px, -4px);
  }
}

/* Customercard */
.costumerCard {
  color: white;
  background-color: #37506a;
  border-radius: 10px;
  max-height: 15rem;
  min-width: 10rem;
}
